:root {
  --font-base: "Lato";
  --font-second: "Ocwald";
  --fontsize-base: 14px;
  --lineheight-base: 18px;
  --color-base: #444444;
  --color-second: #000000;
  --color-third: #ffffff;
  --bg-primary: #ffffff;
  --bg-secondary: #f2f2f2;
  --bg-tertiary: #eaeaea;
  --bg-accent: #68b738;
}
