.button-burger {
  cursor: pointer;
  border: none;
  width: 24px;
  height: 24px;
  mask-position: 50% 50%;
  padding: 0;
  margin: 0;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.button-burger--closed {
  background-color: var(--color-second, #000080);
  mask-repeat: no-repeat;
  mask-image: url("../../icons/stack.svg#burger");
  mask-size: 24px 24px;
}

.button-burger--opened {
  background-color: var(--color-second, #000080);
  mask-repeat: no-repeat;
  mask-image: url("../../icons/stack.svg#close");
  mask-size: 18px 18px;
}
