.cards__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.cards__title {
  font-family: var(--font-second, inherit);
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: var(--color-second, #fa5072);
}

.cards__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .cards__wrapper {
    width: 100%;
    padding: 0 30px;
  }

  .cards__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }

  .cards__title {
    font-size: 60px;
  }
}

@media (min-width: 1440px) {
  .cards__wrapper {
    padding: 0 110px;
  }

  .cards__list {
    gap: 63px 80px;
    justify-content: flex-start;
  }
}
