.header__wrapper {
  margin: 13px auto 14px;
  padding: 0 3.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 767px) {
  .header__wrapper {
    flex-direction: column;
    margin: 0;
    margin-top: 13px;
  }

  .header__logo-wrapper {
    padding-bottom: 15px;
  }

  .header__logo {
    margin-right: 56px;
  }

  .header__logo-title {
    margin-right: 65px;
  }
}

@media (min-width: 768px) {
  .header__wrapper {
    margin: 25px auto 38px;
    justify-content: space-between;
  }

  .header__burger {
    display: none;
  }

  .header__logo-wrapper {
    justify-content: flex-start;
  }
}

@media (min-width: 1440px) {
  .header__wrapper {
    margin: 55px 0 29px;
    padding: 0 7.1%;
  }

  .header__main-navigation {
    position: relative;
    z-index: 3;
  }
}

@media (min-width: 1920px) {
  .header__wrapper {
    width: 80%;
    margin: 0 auto;
  }
}
