.option__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 1440px) {
  .option__list {
    margin: 0 110px;
    display: flex;
    column-gap: 80px;
  }
}

.option__item {
  background-color: var(--bg-secondary, #444444);
  margin-bottom: 20px;
  padding: 34px 33px 18px 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .option__item {
    margin: 0 30px 30px;
    padding: 77px 316px 53px 52px;
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: 60px 1fr 86px;
  }
}

@media (max-width: 767px) {
  .option__item--slim {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 50px;
      background-color: var(--bg-accent, #000080);
      border-radius: 50%;
      inset: 0;
      left: 20px;
      top: 24px;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 36px;
      height: 50px;
      inset: 0;
      background-image: url("../../icons/stack.svg#slim");
      background-size: 36px 50px;
      left: 27px;
      top: 21px;
    }
  }

  .option__item--pro {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 50px;
      background-color: var(--bg-accent, #000080);
      border-radius: 50%;
      inset: 0;
      left: 20px;
      top: 24px;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 67px;
      height: 28px;
      inset: 0;
      background-image: url("../../icons/stack.svg#pro");
      background-size: 67px 28px;
      left: 11px;
      top: 35px;
    }
  }
}

