.promo__wrapper {
  margin: 0 auto;
  padding: 27px 20px 0;
  box-sizing: border-box;
}

.promo__title {
  margin: 0;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}

.promo__slogan {
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin: 25px 0;
  padding-bottom: 4px;
}

.promo__picture {
  margin-top: 4px;
}

.promo__link {
  display: block;
  width: 280px;
  text-decoration: none;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .promo__wrapper {
    padding: 0;
    display: grid;
    grid-template-columns: 90px 1fr 208px;
  }

  .promo__title {
    color: var(--color-second, #fa8072);
    font-size: 60px;
    line-height: 1;
    text-align: left;
    margin-bottom: 15px;
    grid-column: 2 / 3;
  }

  .promo__slogan {
    color: var(--color-second, #fa8072);
    font-size: 20px;
    line-height: 1;
    text-align: left;
    grid-column: 2 / 3;
  }

  .promo__picture {
    margin: 0;
    grid-column: 1 / -1;
    grid-row: 3 / 5;
  }

  .promo__link {
    margin: 0;
    margin-top: 29px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

